/*para cambiar de color y tamaaño de los labels*/
label {
	color:grey	 !important;
	font-size: 1.0rem !important;
	margin: 10px 10px 10px 0px;
}	
	
/*clase utilizada para los links (modificado el tamañano) 
 un ejemplo de uso esta en los label de registrar y olvidarse cuenta*/
#download-button {
	font-size: 1.0rem;
} 

/*para cambiar los colores de los input en todos los navegadores*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

/*para cambiar de color las opciones de select*/
.select-wrapper input.select-dropdown {
	color: white;
}

/*para cambiar el color de las tablas*/
table th, table td {
    text-align: left;
    padding: 12px;
    color: white;
}

 tr:hover {
 	background:red !important;
 }

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	color: white;
}

input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default)[readonly="readonly"], input[type=password]:not(.browser-default):disabled, input[type=password]:not(.browser-default)[readonly="readonly"], input[type=email]:not(.browser-default):disabled, input[type=email]:not(.browser-default)[readonly="readonly"], input[type=url]:not(.browser-default):disabled, input[type=url]:not(.browser-default)[readonly="readonly"], input[type=time]:not(.browser-default):disabled, input[type=time]:not(.browser-default)[readonly="readonly"], input[type=date]:not(.browser-default):disabled, input[type=date]:not(.browser-default)[readonly="readonly"], input[type=datetime]:not(.browser-default):disabled, input[type=datetime]:not(.browser-default)[readonly="readonly"], input[type=datetime-local]:not(.browser-default):disabled, input[type=datetime-local]:not(.browser-default)[readonly="readonly"], input[type=tel]:not(.browser-default):disabled, input[type=tel]:not(.browser-default)[readonly="readonly"], input[type=number]:not(.browser-default):disabled, input[type=number]:not(.browser-default)[readonly="readonly"], input[type=search]:not(.browser-default):disabled, input[type=search]:not(.browser-default)[readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
	color: white;
}	

/* Cuando se autocomplete, usar los mismos colores de fondo y de letra que cuando no*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2A3F54 inset !important;
    -webkit-text-fill-color: white !important;

}

.center {
    margin-top: auto;
    width: 30%;
}

.withTopPad{
	padding-top: 7%;
} 

label.active {
   width: 100% !important;
}          

/*usada para separar imagaenes en el registro*/
.separateWithTop {
	margin-top: 15px;
}

/*utilizada en los comentarios a agregar en el reporte de error*/
textarea {
    resize: none;
    border-color: grey;
    color: white;
}
