/*para cambiar de color y tamaño de los labels*/
/*label {
	color:white	 !important;
	font-size: 1.0rem !important;
	margin: 10px 10px 10px 0px;
}
	*/
/*clase utilizada para los links (modificado el tamañano) 
 un ejemplo de uso esta en los label de registrar y olvidarse cuenta*/
#download-button {
	font-size: 1.0rem;
  color: #ff8f00;
} 

.input-field label {
    color: white;
}

/*para cambiar los colores de los input en todos los navegadores*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
}

/*para cambiar de color las opciones de select*/
.select-wrapper input.select-dropdown {
	color: white;
}

/*para cambiar el color de las tablas*/
table th, table td {
    text-align: left;
    padding: 12px;
}

 tr:hover {
 	background:#bdbdbd !important;
 }

 table.striped>tbody>tr:nth-child(even) {
    background-color: #e0e0e0;
}

thead {
  background-color: #bdbdbd;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
	color: white;
}

input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default)[readonly="readonly"], input[type=password]:not(.browser-default):disabled, input[type=password]:not(.browser-default)[readonly="readonly"], input[type=email]:not(.browser-default):disabled, input[type=email]:not(.browser-default)[readonly="readonly"], input[type=url]:not(.browser-default):disabled, input[type=url]:not(.browser-default)[readonly="readonly"], input[type=time]:not(.browser-default):disabled, input[type=time]:not(.browser-default)[readonly="readonly"], input[type=date]:not(.browser-default):disabled, input[type=date]:not(.browser-default)[readonly="readonly"], input[type=datetime]:not(.browser-default):disabled, input[type=datetime]:not(.browser-default)[readonly="readonly"], input[type=datetime-local]:not(.browser-default):disabled, input[type=datetime-local]:not(.browser-default)[readonly="readonly"], input[type=tel]:not(.browser-default):disabled, input[type=tel]:not(.browser-default)[readonly="readonly"], input[type=number]:not(.browser-default):disabled, input[type=number]:not(.browser-default)[readonly="readonly"], input[type=search]:not(.browser-default):disabled, input[type=search]:not(.browser-default)[readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
	color: white;
}	

/* Cuando se autocomplete, usar los mismos colores de fondo y de letra que cuando no*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #707070 inset !important;
    -webkit-text-fill-color: white !important;

}

.center {
    margin-top: auto;
    width: 30%;
}

.withTopPad{
	padding-top: 7%;
} 

label.active {
   width: 100% !important;
}          

/*usada para separar imagaenes en el registro*/
.separateWithTop {
	margin-top: 15px;
}

/*utilizada en los comentarios a agregar en el reporte de error*/
textarea {
    resize: none;
    border-color: grey;
    color: white;
}

/************
CUSTOM!
*************/

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1565c0 !important;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 64px;
}

.header-logo {
  font-size: 18px;
  margin-left: 10px;
}

.brand-logo__link {
  height: 50px;
}

.nav-submenu {
  font-size: 16px;
  margin-left: 5px;
}

.user-container {
  font-size: 16px;
  display: flex;
}

.options-container {
  display: flex;
  align-items: center;
  height: 80vh;
}

.user-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-cell {
  font-size: 16px;
}

.search-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-input i {
    margin-right: 5px;
    margin-top: 8px;
}

th {
  border-radius: 0px !important;
}

thead th {
  font-weight: 500;
}

.select-wrapper span.caret {
  right: 15px !important;
  top: 5px !important;
}

.parallax > img {
  filter: hue-rotate(230deg) grayscale(40%);
}

body {
  background: #707070;
}
