/*
-----------------------------------------------
Grey Box Method - Layout CSS
----------------------------------------------- */

body {
	color: black;
	font-size: 11px;
	padding: 0 0 0px;
}


/* commons
----------------------------------------------- */
.floatleft{float:left;}
.floatright{float:right;}
.fontwhite{color:#fff;}
.small{font-size:9px;}
.inline-ul li{display:inline; color:#fff;}
.marginleft10{margin-left:10px;}
.grey{color:#C2C2C2;}

/* anchors
----------------------------------------------- */


/* 960 grid system container background
----------------------------------------------- */
.container_12,
.container_16 {
	background-image: url("../img/MainBackground.jpg");
}


/* headings
----------------------------------------------- */


/* branding
----------------------------------------------- */
#branding {
	font-weight:normal;
	text-align:left;
	margin-bottom:0;
}
.header-repeat{background:url(../img/header-repeat.jpg) repeat-x;}






/* sidebar menu
----------------------------------------------- */

.box.sidemenu{ background-color:#D1DEE4; border-right:1px solid #3A5665; padding:0px; margin:0px; cursor:pointer; }
.box.sidemenu .block{padding-top:0px; margin-top:0px;}



/* Data Tables */


.dataTables_info,
.dataTables_paginate { margin-bottom: 3em; }

.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 40%;
	float: left;
	margin-bottom: 1em;
}

.dataTables_filter {
	width: 50%;
	float: left;
	text-align: left;
	margin-bottom: 1em;
}

.dataTables_info {
	width: 60%;
	float: left;
	margin-top: 1em; 
}

.dataTables_paginate {

	float: right;
	text-align: right;
	margin-top: 1em; 
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
	cursor: pointer;
}

.paginate_disabled_previous {
	background-image: url(../img/table/back_disabled.png);
}

.paginate_enabled_previous {
	background-image: url(../img/table/back_enabled.png);
}

.paginate_disabled_next {
	background-image: url(../img/table/forward_disabled.png);
}

.paginate_enabled_next {
	background-image: url(../img/table/forward_enabled.png);
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display th{ /* background:#8f8f8f;   */ }



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */


.sorting_asc {
	background: #8f8f8f url(../img/table/sort_asc.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting_desc {
	background: #8f8f8f url(../img/table/sort_desc.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting {
	background:#8f8f8f   url(../img/table/sort_both.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting_asc_disabled {
	background: #8f8f8f url(../img/table/sort_asc_disabled.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}

.sorting_desc_disabled {
	background: #8f8f8f url(../img/table/sort_desc_disabled.png) no-repeat center right; padding:8px 5px; text-align:left; color:#fff;
}




tr.odd {
	  height: 30px;
line-height: 30px; border-bottom:1px solid #e6e6e6; 
}

tr.even {
	 height: 30px;
line-height: 30px; border-bottom:1px solid #e6e6e6;
}
tr.odd:hover, tr.even:hover { background:#f6f6f6; }
tr.odd td, tr.even td{ padding-left:5px; }



.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot { display: none; }
tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E; 
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 400px;
	height: 22px;
	line-height: 22px;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}




#panel {
    background: rgba(0, 0, 0, 0) url('../img/header-repeat.jpg') ;
    height: 50px;margin: 0;
}
#panel .opciones {
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    margin: 7px;
    cursor:pointer;
}
.panel-filtro {
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    margin:0.2em;
}
.panel-enlace {
    padding: 10px;
    margin: 0px;
    text-shadow: 0 1px 0 #fff;
}
.principal{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6b593), to(#dccaa8));
    background: -moz-linear-gradient(top,  #c6b593,  #dccaa8);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6b593', endColorstr='#dccaa8');
}

.difunto{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#d0d3e3), to(#a5aac9));
    background: -moz-linear-gradient(top,  #d0d3e3,  #a5aac9);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d3e3', endColorstr='#a5aac9');
}

#madre, .madre{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#c6b593), to(#dccaa8));
    background: -moz-linear-gradient(top,  #c6b593,  #dccaa8);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6b593', endColorstr='#dccaa8');
}

.esposa{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#cfe5cf), to(#bed9be));
    background: -moz-linear-gradient(top,  #cfe5cf,  #bed9be);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfe5cf', endColorstr='#bed9be');
}

.conviviente1{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#eae8e8), to(#c6c1c1));
    background: -moz-linear-gradient(top,  #eae8e8,  #c6c1c1);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae8e8', endColorstr='#c6c1c1');
}
.conviviente2{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#c4c4c4));
    background: -moz-linear-gradient(top,  #e8e8e8,  #c4c4c4);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#c4c4c4');
}


.acta{
    border: 1px solid #f4dab1;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffc0), to(#f9ee9c));
    background: -moz-linear-gradient(top,  #ffffc0,  #f9ee9c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
}
#datos_libro,.datos_libro {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#edf7f9), to(#d1dadc));
    background: -moz-linear-gradient(top,  #edf7f9,  #d1dadc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf7f9', endColorstr='#d1dadc');
}

#padre,.padre {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3e0bd), to(#f9eeda));
    background: -moz-linear-gradient(top,  #f3e0bd,  #f9eeda);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3e0bd', endColorstr='#f9eeda');
}

.esposo   {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
}
#estado {
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFD875), to(#FEBE1C));
    background: -moz-linear-gradient(top,  #FFD875,  #FEBE1C);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
    color: #6d7829;
    text-shadow: 0 1px 0 #fff;
    width: 100%;
    margin:0.2em;
}
.transcripcion1{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF616B), to(#FFACAA));
    background: -moz-linear-gradient(top,  #FF616B,  #FFACAA);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFACAA', endColorstr='#FFACAA');
}

.transcripcion2{
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF907F), to(#FFBDB3));
    background: -moz-linear-gradient(top,  #FF907F,  #FFBDB3);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF907F', endColorstr='#FFBDB3');
}

.gallery-sand .sorting{background-color:white !important;}