
html{
 height: 100%;
 
 background: 
      linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6));
}

body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;

    }

    #container {
      flex: 1 0 auto;
      height: 100%; 
      width:100%; 
      font-size: 15px;
    }	

    .nav-extended {
      background: #DF0101 !important;
      text-decoration-color: #000 !important;
    }

    .nav-extended .brand-logo {
      padding: 4.75px
    }
  
    #left{
      float: left;
    } 

    #right {
      float: right;
    } 

    body {
      background: #fff;
    }

    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #e91e63;
      font-size: 15px;
    }

    .input-field input[type=date]:focus,
	  .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 1px solid #e91e63;
      box-shadow: none;
    }

    .input-field label{
      font-size: 15px ;
    } 

    #container input {
      font-size: 10px ;
    } 
