
html{
 height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

#container {
    flex: 1 0 auto;
    height: 100%; 
    width:100%; 
    font-size: 15px;
}	

nav ul a,
nav .brand-logo {
  color: #FFFFFF;
  margin-left: 5px;
}

nav {
  background: #9A2EFE

}

.nav-wrapper {
      color: #9A2EFE !important;
      text-decoration-color: #FFFFFF !important;
    }

    .nav-extended .brand-logo {
      padding: 4.75px
    }
  
    #left{
      float: left;
    } 

    #right {
      float: right;
    } 

    body {
      background: #fff;
    }

    .input-field input[type=text]:focus + label,
    .input-field input[type=email]:focus + label,
    .input-field input[type=password]:focus + label {
      color: #9A2EFE;
      font-size: 15px;
    }

    .input-field input[type=date]:focus,
	  .input-field input[type=text]:focus,
    .input-field input[type=email]:focus,
    .input-field input[type=password]:focus {
      border-bottom: 1px solid #9A2EFE;
      box-shadow: none;
    }

    .input-field label{
      font-size: 15px ;
    } 

    #container input {
      font-size: 10px ;
    } 

.btn, .btn-large {
      background-color:#9A2EFE !important;
    }

.container a {
  color:#FE642E !important;
}

.orange-text {
    color:#FE642E !important;
}
